#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

div > label > .rdt {
  color: #333;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

select,
input,
button {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.active-filters span {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 5px;
  /* background-color: #f0f0f0; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.active-filters button {
  padding: 2px 5px;
  margin-left: 0.25rem;
}

.results {
  margin-top: 20px;
}

.result {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
